* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li a {
  text-decoration: none;
}

div img {
  max-width: 100%;
  display: block;
}

.flexContainer {
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  padding: 10px;
}

header {
  background-color: #122A57;
  height: 80px;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 10px;
}

header .listItems {
  display: flex;
  width: 100%;
  max-width: 260px;
  justify-content: space-between;
}

.listItems li a {
  color: #fff;
}

header .menu {
  justify-content: space-between
}

.screen {
  min-height: 65vh;
  justify-content: center;
}

.presentation {
  align-items: center;
  justify-content: space-between;
}

.presentationText {
  min-height: 200px;
}

.presentationText h1 {
  color: #122A57;
  font-size: 48px;
  margin: 10px 0;
}

.presentationText h2 {
  color: #122A57;
  font-size: 32px;
  margin-bottom: 20px;
}

.presentationText p {
  line-height: 1.8em;
  width: 100%;
}

.btn {
  background-color: #122A57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  height: 50px;
  line-height: 50px;
  margin: 10px 0;
  text-decoration: none;
  display: block;
}

#quem-somos {
  flex-direction: row-reverse;
}

#quem-somos h2 {
  display: flex;
}

#quem-somos h2:before {
  content: "";
  height: 40px;
  width: 5px;
  margin-right: 5px;
  background-color: #122A57;
}

#quem-somos p {
  margin-bottom: 10px;
  width: 90%
}

#quem-somos img {
  width: 420px;
}

.externalContainer {
  background-color: #122A57;
  width: 100%;
}

#servicos {
  height: 50vh;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}

#servicos h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 50px;
}

.serviceList {
  display: flex;
  justify-content: space-between;
}

.serviceList .serviceItem {
  text-align: center;
}

.serviceItem p {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}

.serviceItem a {
  width: 120px;
  background-color: #fff;
  border-radius: 30px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  padding: 5px 10px;
  text-decoration: none;
  color: #122A57;
  font-size: 12px;
  margin-top: 20px;
  font-weight: 700;
}

.serviceItem img {
  width: 80%;
  margin: auto;
}

#plans {
  flex-direction: column;
}

#plans h2 {
  font-size: 32px;
  padding-top: 70px;
}

.planList {
  display: flex;
  align-items: flex-end;
}

.planItem {
  flex: 1;
  border: 5px solid #122A57;
  margin: 20px;
  padding: 10px;

}

.planItem h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
}

.planItem h3::after {
  content: "";
  background-color: #122A57;
  width: 100%;
  height: 3px;
  margin: 20px 0;
}

.planItem .btn {
  margin: auto;
  margin: 20px;
}

.planItem ul li {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.planItem ul li::before {
  content: "";
  height: 10px;
  width: 10px;
  margin-right: 10px;
  display: block;
  background-color: #122A57;
}

footer {
  display: flex;
  background-color: #122A57;
  width: 100%;
  height: 70px;
}

footer .footer {
  margin: auto;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  width: 100%;
}

/* mobile */
@media(max-width: 992px) {
  .flexContainer {
    flex-direction: column-reverse;
    align-items: center;
    min-width: 100%;
    padding: 0;
    margin: 0;
  }

  .menu {
    flex-direction: column;
  }

  #servicos {
    justify-content: flex-start;
    height: fit-content;
  }

  .serviceList {
    justify-content: flex-start;
  }

  .serviceList .serviceItem img {
    max-width: 50%;
    margin: auto;
  }

  .planList {
    align-items: center;
  }

  .presentation {
    justify-content: center;
  }

  #quem-somos {
    flex-direction: column-reverse;
  }
}